body {
  background-color: #47B8F4;
  color: white;
}

h1 {
  padding: 20px;
  text-align: center;
  background: #28248A;
  color: white;
}

img {
 width: 100px;
 height: 100px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black; 
}

th {
  height: 60px; 
}

th, td {
  padding: 10px;
  text-align: left;
}
